<div class="date-outer">
	<div class="date-posts">
        <div class='post-outer'>
        	<div class='comments' id='comments'>
        		<div class='comment-form'>
					<h4>new post:</h4>
					<%= render 'form' %>
				</div>
			</div>
		</div>
    </div>
</div>
<%= link_to 'Back', posts_path %>


